
{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user.admin %}

    <h1>Liste de tous les posts mis en ligne</h1>

    <div class="row">
        <div class="col-xs-2 desc">
            <p>ID</p>
        </div>
        <div class="col-xs-2 desc">
            <p>Titre</p>
        </div>
        <div class="col-xs-2 desc">
            <p>Auteur</p>
        </div>
        <div class="col-xs-2 desc">
            <p>Category</p>
        </div>
        <div class="col-xs-2 desc">
            <p>Afficher</p>
        </div>
        <div class="col-xs-2 desc">
            <p>Supprimer</p>
        </div>
        
    </div>

    {% for post in posts %}
        <div class="row">
        <div class="col-xs-2 desc">
            {{ post.id}}
        </div>
        <div class="col-xs-2 desc">
            {{ post.createdBy}}
        </div>
      
        <div class="col-xs-2 desc">
            {{ post.title }}
        </div>
        <div class="col-xs-2 desc">
            {{ post.category.title }}
        </div>
        <div class="col-xs-2 desc">
            <a href="{{ path('blog_show', {id: post.id}) }}" class="btn btn-primary">Afficher</a>
        </div>
        <div class="col-xs-2 desc">
            <a href="{{ path('blog_delete', {id: post.id})}}" class="btn btn-primary">Supprimer</a>
        </div>
        </div>
        <hr>

      {% endfor %}


    {% else %}
    <h1>Vous devez etre promu administrateur pour acceder à cette section</h1>
    {% endif %}

{% endblock %}