{% extends 'base.html.twig' %}
{% form_theme formPost 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>{% if editMode %}
        Modification de votre post
        {% else %}
        Création de votre post
        {% endif %}</h1>

    {{ form_start(formPost) }}
    
    <div class="form-groupe">
        <label for="">Titre</label>
        {{ form_errors(formPost.title) }}
        {{ form_widget(formPost.title) }}
    </div>
    <div class="form-groupe">
        <label for="">Image</label>
       {{ form_widget(formPost.image) }}
    </div>
    <div class="form-groupe">
        <label for="">Catégorie</label>
        {{ form_widget(formPost.category) }}
    </div>
    <div class="form-groupe">
        <label for="">Description</label>
        {{ form_errors(formPost.content) }}
        {{ form_widget(formPost.content) }}
    </div>
    <div class="form-groupe">
        <label for="">Auteur</label>
        {{ form_widget(formPost.createdBy)}}
    </div>


    <button type="submit" class="btn btn-success">
        {% if editMode %}
        Enregistrer les modifications
        {% else %}
        Poster ma photo
        {% endif %}
    </button>
    {{ form_end(formPost) }}


{% endblock %}