{% extends 'base.html.twig' %}

{% block title %}Vos photos à travers le monde{% endblock %}

{% block body %}
    <section class="posts">
        {% for post in posts %}

        <article>
            <h2>{{ post.createdBy }}</h2>
            <div class="metadata">Posté le {{ post.createdAt | date("d/m/Y") }} à {{ post.createdAt | date("H:i") }} dans la catégorie {{ post.category.title }}</div>
            <div class="content">
                <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.imageName }}" />
                <h3>{{ post.title }}<h3>
                <p>{{ post.content | raw }}</p>
            </div>
            <a href="" class="btn btn-primary">Commenter</a>
            <a href="{{ path('blog_show', {id: post.id}) }}" class="btn btn-primary">Lire la suite</a>
        </article>
        {% endfor %}
    </section>

{% endblock %}
