{% extends 'base.html.twig' %}

{% block body %}
    <article>
            <h2>{{ post.createdBy }}</h2>
            <div class="metadata">Posté le {{ post.createdAt | date("d/m/Y") }} à {{ post.createdAt | date("H:i") }} dans la catégorie {{ post.category.title }}</div>
            <div class="content">
                <img src="{{ post.image }}" alt="">
                <h3>{{ post.title }}<h3>
                <p>{{ post.content | raw }}</p>
            </div>
            <a href="" class="btn btn-primary">J'aime</a>
            <a href="{{ path('blog_edit', {id: post.id})}}" class="btn btn-primary">Modifier</a>
            <hr>
            <h2>Commentaires ({{ post.comments | length }}) </h2>
            <section id="commentaires">
                {% for comment in post.comments %}
                <div class="comment">
                    <div class="raw">
                        <div>
                        {{comment.author}} (<small> Posté le {{ comment.createdAt | date("d/m/Y") }} à {{ comment.createdAt | date("H:i") }}</small>)
                        </div>

                        <div class="col">
                            {{comment.content | raw}}
                        </div>

                    </div>
                </div>
                {% endfor %}
            </section>
            <hr>
            {% if app.user %}
            <h2>Ajouter un commentaire</h2>
            <section id="commenter">
            {{ form_start(formComment) }}
    
            <div class="form-groupe">
                <label for="">Auteur</label>
                {{ form_widget(formComment.author) }}
            </div>
            <div class="form-groupe">
                <label for="">Contenu du commentaire</label>
                {{ form_widget(formComment.content) }}
            </div>
            
            <button type="submit" class="btn btn-success">Poster mon commentaire</button>
            {{ form_end(formComment) }}
            </section>

            {% else %}
            <h2>Veuiller vous connecter pour commenter</h2>
            <a href="{{ path('secu_login')}}" class="btn btn-primary">Se connecter</a>

            {% endif %}

    </article>
{% endblock %}